<footer class="page-footer">
    <div class="container">
        <div class="row page-footer__row">
            <div class="col s12 col--flex">
                <div class="">
                    <a class="social-media__icon-container" href="https://www.facebook.com/mys.croatia" target="_blank">
                        <i class="fa fa-facebook social-media__icon" aria-hidden="true"></i>
                    </a>
                    <a class="social-media__icon-container" href="https://www.facebook.com/mys.croatia" target="_blank">
                        <i class="fa fa-instagram social-media__icon" aria-hidden="true"></i>
                    </a>
                </div>
                <a class="waves-effect waves-light btn modal__button" href="#modal--newsletter">Subscribe</a>
                <div class="">
                    <a class="social-media__icon-container" href="https://twitter.com/mys_yachting" target="_blank">
                        <i class="fa fa-twitter social-media__icon" aria-hidden="true"></i>
                    </a>
                    <a class="social-media__icon-container" href="https://www.linkedin.com/in/majaban/recent-activity/" target="_blank">
                        <i class="fa fa-linkedin social-media__icon" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row  page-footer__row">
            <div class="col s12 page-footer__column--centered">
                <span><a class="page-footer__contact-info" href="mailto:info@mysyachting.com">info@mysyachting.com</a></span>
                <span> | </span>
                <span><a class="page-footer__contact-info" href="#">+385 99 502 3127</a></span>
            </div>
        </div>
    </div>
</footer>

<!-- Modal Structure -->
<div id="modal--newsletter" class="modal bottom-sheet">
    <div class="modal-content">
        {{> "social/newsletter-signup"}}
    </div>
</div>