<!-- Modal - contact -->
<div id="modal-contact" class="modal modal--base bottom-sheet">
    <div class="modal-content modal-bg-color">
    {{> "social/contact-form"}}
    </div>
</div>

<!-- Modal Structure -->
<div id="modal--newsletter" class="modal bottom-sheet">
    <div class="modal-content">
        {{> "social/newsletter-signup"}}
    </div>
</div>

<footer class="page-footer">
    <div class="container">
        <div class="row page-footer__row">
            <div class="col s12 col--flex">
                <div class="tab_dis-n mob_dis-n">
                    <a class="social-media__icon-container" href="https://www.facebook.com/mys.croatia" target="_blank">
                        <i class="fa fa-facebook social-media__icon" aria-hidden="true"></i>
                    </a>
                    <a class="social-media__icon-container" href="https://www.instagram.com/mys_yachting/" target="_blank">
                        <i class="fa fa-instagram social-media__icon" aria-hidden="true"></i>
                    </a>
                </div>
                <div>
                <!-- Modal Trigger -->
                    <a class="waves-effect waves-light btn modal__button" href="#modal-contact" style="margin: 0;">Contact Us</a>
                    <a class="waves-effect waves-light btn modal__button" href="#modal--newsletter">Subscribe</a>
                </div>
                <div class="tab_dis-n mob_dis-n">
                    <a class="social-media__icon-container" href="https://twitter.com/mys_yachting" target="_blank">
                        <i class="fa fa-twitter social-media__icon" aria-hidden="true"></i>
                    </a>
                    <a class="social-media__icon-container" href="https://www.linkedin.com/in/majaban/recent-activity/" target="_blank">
                        <i class="fa fa-linkedin social-media__icon" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container page-footer__handheld-margin">
        <div class="row page-footer__row">
            <div class="col s12 m12 page-footer__column--centered">
                <span><a class="page-footer__contact-info" href="mailto:info@mysyachting.com">info@mysyachting.com</a></span>
                <span> | </span>
                <span><a class="page-footer__contact-info" href="#">+385 99 502 3127</a></span>
            </div>
        </div>
    </div>

    <div class="container page-footer__handheld-row">
        <div class="row page-footer__row">
            <div class="col s12 m12 page-footer__column--centered">
                <a class="social-media__icon-container" href="https://www.facebook.com/mys.croatia" target="_blank">
                        <i class="fa fa-facebook social-media__icon" aria-hidden="true"></i>
                    </a>
                <a class="social-media__icon-container" href="https://twitter.com/mys_yachting" target="_blank">
                    <i class="fa fa-twitter social-media__icon" aria-hidden="true"></i>
                </a>
                <a class="social-media__icon-container" href="https://www.linkedin.com/in/majaban/recent-activity/" target="_blank">
                    <i class="fa fa-linkedin social-media__icon" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
