{{!< default}}

{{> "headers/header-charter"}}

<main id="charter" class="charter" role="main">
  
  <nav class="nav-extended">
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#tab1">All</a></li>
        <li class="tab"><a href="#tab2">Motor Yachts</a></li>
        <li class="tab"><a href="#tab3">Sail Yachts</a></li>
        <li class="tab"><a href="#tab4">Luxury Gullets</a></li>
      </ul>
    </div>
  </nav>

  <div id="tab1" class="col s12">
    {{> "charter/cards/brazil"}}
    {{> "charter/cards/mobile/brazil"}}
    {{> "charter/cards/pida"}}
    {{> "charter/cards/mobile/pida"}}
    {{> "charter/cards/tuscan-sun"}}
    {{> "charter/cards/mobile/tuscan-sun"}}
    {{> "charter/cards/lady-sunshine"}}
    {{> "charter/cards/mobile/lady-sunshine"}}
  </div>

  <div id="tab2" class="col s12">
    {{> "charter/cards/brazil"}}
    {{> "charter/cards/mobile/brazil"}}
    {{> "charter/cards/pida"}}
    {{> "charter/cards/mobile/pida"}}
    {{> "charter/cards/tuscan-sun"}}
    {{> "charter/cards/mobile/tuscan-sun"}}
  </div>

  <div id="tab3" class="col s12">
    {{> "charter/cards/lady-sunshine"}}
    {{> "charter/cards/mobile/lady-sunshine"}}
  </div>

</main>

<!-- Modal Structure -->
<div id="modal-contact" class="modal modal--base bottom-sheet">
    <div class="modal-content">
      {{> "social/contact-form"}}
    </div>
</div>
</div>

<!-- Modal Structure -->
<div id="modal--brazil" class="modal bottom-sheet">
    <div class="modal-content">
        <iframe src="https://calendar.google.com/calendar/embed?src=myscroatia.com_quoq44p05nl8at5mh56d1oro4g%40group.calendar.google.com&ctz=Europe/Belgrade" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>

{{> "footer"}}
