{{!< default}}

{{> "headers/header-charter"}}

<main id="charter" class="charter" role="main">
  
  <nav class="nav-extended">
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#tab1">All</a></li>
        <li class="tab"><a href="#tab2">Motor Yachts</a></li>
        <li class="tab"><a href="#tab3">Sail Yachts</a></li>
        <li class="tab"><a href="#tab4">Luxury Gullets</a></li>
      </ul>
    </div>
  </nav>

  <div id="tab1" class="col s12">
    {{> "charter/cards/brazil"}}
    {{> "charter/cards/mobile/brazil"}}
    {{> "charter/cards/pida"}}
    {{> "charter/cards/mobile/pida"}}
  </div>

  <div id="tab2" class="col s12">
    {{> "charter/cards/brazil"}}
    {{> "charter/cards/mobile/brazil"}}
    {{> "charter/cards/pida"}}
    {{> "charter/cards/mobile/pida"}}
  </div>

</main>

<!-- Modal Structure -->
<div id="modal-contact" class="modal modal--base bottom-sheet">
  {{> "social/contact-form"}}
  </div>
</div>

{{> "footer"}}
