{{!< default}}

{{> "headers/header-vat"}}

<main id="vat" class="vat" role="main">
    <div class="container">
        <div class="row">
            <div class="col s12">
            <div class="card" style="padding: 20px;">
                <h2 class="_te-ac">VAT Info Request</h2>
                <h6 class="_te-ac font__subtitle">Need a price quote?</h6>
                <p style="padding-top: 20px;">
                    Setting up a yacht charter business in Croatia and handling VAT for charters can be difficult, time consuming and costly. That&#39;s why we&#39;re here to help make it a smooth and efficient process. If you would like us to send you a <b>price quote</b> and brief outline of how we can handle your charter business and VAT needs, please fill out this request form.
                </p>
                <p style="text-align: center;">
                    The size of your vessel does <b>NOT</b> matter. Our knowledgeable staff will handle all of your charter business and VAT matters in Croatia.
                </p>
                <div style="text-align: center; width: 100%;">
                <a class="waves-effect waves-light btn modal__button modal__button--dark" href="#modal--tax-form">VAT Request</a>
                </div>
            </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col s12 m6">
            <div class="card card--full" href="#">
                <div class="card-image">
                    <img src="{{asset "images/pages/vat/vat-1.jpg"}}" />
                    <div class="card-overlay"></div>
                    <span class="card-title">Charter and VAT Key Points</span>
                </div>
                <div class="card-reveal">
                    <div class="card-reveal-inner">
                        <div class="card-reveal__inner" style="text-align: justify;">
                            <div class="card-line"></div>

                            <p><span class="list-highlight">1.</span>Charter business can be performed by NON EU and EU charter companies with commercially registered yachts</p>

                            <p><span class="list-highlight">2.</span>To set up a yacht for charter business in Croatia (approx. 10 - 14 days), a charter company needs:</p>
                            <ul style="padding-left: 20px;">
                                <li>To obtain VAT and PIN numbers with the Croatian tax office. The list of required papers that must be  submitted depends on if the charter company is from the EU or outside the EU.</li>

                                <li>To list the yacht in "E-crew" ( a central online database ) of the Croatian Ministry of Maritime Affairs. The list of documents to submit depends on the GT and LOA of the yacht.</li>
                            </ul>

                            <p>If all the papers are in order there will no longer be a need for a technical inspection of the yacht’s firefighting and safety equipment in Croatia before the beginning of its 1st charter.</p>

                            <p><span class="list-highlight">3.</span>All non-EU flagged commercial yachts will be required to obtain a charter license. There is no longer a limit on the yacht’s length in order to perform charters in Croatia. The license will be valid for the calendar year. The number of licenses issued might be limited based on the Croatian market supply situation.</p>

                            <p><span class="list-highlight">4.</span>VAT will be charged on all commercial yachts that start charters (embark guests) in 3rd countries, on a pro-rata basis, for the time spent in Croatia. For instance, if a yacht embarks guests in Montenegro and comes to Croatia for 6 days, charter guests will need to pay Croatian VAT on those 6 days.</p>

                            <p><span class="list-highlight">5.</span>All charter contracts with an embarkation port outside of the EU, and a disembarkation port inCroatia, and which are signed before the 1st of May, will be exempt from VAT charges on a pro-rata basis for the time the yacht will spend in Croatia.</p>

                            <p><span class="list-highlight">6.</span>VAT for charter activities with overnight stay is 13%. Daily charters are 25%</p>

                            <p><span class="list-highlight">7.</span>All commercial yachts need to have proof of their VAT status in the EU when entering Croatia</p>

                            <p><span class="list-highlight">8.</span>When embarking guests outside the EU, all commercial yachts need to have a charter contract when entering Croatia; and when leaving Croatia they need to have an invoice of payment of Croatian VAT issued by its local VAT representative</p>

                            <p><span class="list-highlight">9.</span>When embarking guests in another EU country, all commercial yachts need to possess a charter contract when entering Croatia and a pro-forma invoice for VAT payment in that country issued by a fiscal representative in that country</p>

                            <p><span class="list-highlight">10.</span>When embarking guests outside the EU, EU charter companies can use their own VAT number for VAT payment in Croatia on a pro-rata basis</p>

                            <p><span class="list-highlight">11.</span>Non Eu commercial yachts who do not possess a cabotage license can cruise in Croatian territorial waters only between international ports, to and from shipyards, and only with crew on board</p>

                            <p>Some details are still being clarified by the ministry regarding how certain points above will be processed and controlled, so get in touch with us if you plan to charter this year in Croatia.</p>

                            <p>Setting up a charter business in Croatia is a pretty simple, straightforward, and quick process if you have a quality, professional representative. With VAT of only 13%, more than 1000 islands, and pristine nature and a safe environment, we believe Croatia is one of the most desirable cruising areas which has a lot to offer yacht owners and charter guests.</p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card card--full" href="#">
                <div class="card-image">
                    <img src="{{asset "images/pages/vat/vat-2.jpg"}}">
                </div>
                    <div class="card-reveal">
                        <div class="card-reveal__inner">
                            <div class="card-line"></div>
                            <p style="text-align: center;">
                                We are proud member of the EasyTax network
                            </p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</main>

<!-- Modal Structure -->
<div id="modal--tax-form" class="modal bottom-sheet">
    <div class="modal-content modal-bg-color">
        {{> "social/yacht-tax-form"}}
    </div>
</div>
