{{!< default}}

{{> "headers/header-services"}}

<main id="services" class="services" role="main">
    <div class="container">
        <div class="row row-0">
            <div class="col s12 m6">
                <div class="card card--full" href="#">
                    <div class="card-image">
                        <img src="{{asset "images/pages/services/services-y.jpg"}}">
                        <span class="card-title">Port &amp; Berth Formalities</span>
                    </div>
                    <div class="card-reveal">
                        <div class="card-reveal__inner" style="text-align: center;">
                            <div class="card-line"></div>
                            <p>
                            In every port throughout the eastern Adriatic
                            </p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="card card--full" href="#">
                    <div class="card-image">
                        <img src="{{asset "images/pages/services/service-2.jpg"}}">
                        <span class="card-title">Technical Support</span>
                    </div>
                    <div class="card-reveal">
                        <div class="card-reveal__inner" style="text-align: center;">
                            <div class="card-line"></div>
                            <p>
                            From quick fixes to total refits
                            </p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-1">
            <div class="col s12 m6">
                <div class="card card--full" href="#">
                    <div class="card-image">
                        <img src="{{asset "images/pages/services/service-3.jpg"}}">
                        <span class="card-title">Wine &amp; Provisioning</span>
                    </div>
                    <div class="card-reveal">
                        <div class="card-reveal__inner">
                            <div class="card-line"></div>
                            <p>
                                Local and international produce. From fresh vegetables and fruits to seafood, meats and dairy products. We offer and deliver in refrigerated trucks top quality products you rely on, along with world-class wine of course.
                            </p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card card--full" href="#">
                    <div class="card-image">
                        <img src="{{asset "images/pages/services/service-4.jpg"}}">
                        <div class="card-overlay"></div>
                        <span class="card-title">Concierge Services</span>
                    </div>
                    <div class="card-reveal">
                        <div class="card-reveal__inner">
                            <div class="card-line"></div>
                            <p>
                                Luxury transport, private tours, hotel &amp; villa rentals and any other hospitality service you might need.
                            </p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</main>
