{{!< default}}

{{> "headers/yachts/header-tuscansun"}}
{{> "yachts/tuscan_sun/panel"}}

<main id="yacht" class="yacht _max-w-1440" role="main">
  {{> "yachts/tuscan_sun/cards"}}
  {{> "yachts/tuscan_sun/modals"}}
</main>
