{{!< default}}

{{> "headers/yachts/header-annabel_II"}}
{{> "yachts/annabel_II/panel"}}

<main id="yacht" class="yacht _max-w-1440" role="main">
  {{> "yachts/annabel_II/cards"}}
  {{> "yachts/annabel_II/modals"}}
</main>
