{{!< default}}

{{> "headers/header-about"}}

<main id="about" class="about" role="main">
    <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title" style="text-align: center;">The MYS Team</span>
              <div class="card-subtitle">Excellence is a lifestyle</div>
              <br />
              <p style="text-align: justify;">
                  The MYS Team started in 2008 with a couple of industry insiders and enthusiasts and an idea to provide a professional, boutique service to mega yachts in Croatia. After a decade of growth and building relationships in the industry and in the region, we are now a diverse team of individuals with backgrounds in tourism, finance, telecommunications, technology, as well as yachting. We went from solely being a yacht agency, to becoming a VAT and fiscal representative and charter and management service company for yachts in the region. We still ensure a boutique, bespoke service to all our clients, making sure they understand how important each one of them is to our company.
              </p><br />
              {{!--<p style="text-align: center;">
                We have a simple three-fold mission:
              </p>
                <p style="text-align: center;">1) To make our clients feel welcome</p>
                <p style="text-align: center;">2) To make them think that what we do is effortless</p>
                <p style="text-align: center;">3) To have them wish to return</p>--}}
              {{!--<br />--}}
              <div class="row">
                <div class="col s10 m6 l4 offset-s1 offset-m3 offset-l4">
                  <div class="card card--grey" style="text-align: center; padding-top: 20px;">
                    <a href="mailto:info@mysyachting.com">info@mysyachting.com</a>
                    <p style="font-size: 1.6rem; margin: 0; color: #555; line-height: 1.7rem; margin-bottom: 10px; text-align: center; color: #151733;">+385 99 502 3127</p>
                    <a class="waves-effect waves-light btn btn--dark" href="#modal-contact" style="margin: 20px 0;">Contact Us</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
</main>
