{{!< default}}

{{> "headers/yachts/header-ladysunshine"}}
{{> "yachts/lady_sunshine/panel"}}

<main id="yacht" class="yacht _max-w-1440" role="main">
  {{> "yachts/lady_sunshine/cards"}}
</main>

{{> "yachts/lady_sunshine/modals"}}
