{{!< default}}

{{> "headers/yachts/header-brazil"}}
{{> "yachts/brazil/panel"}}

<main id="yacht" class="yacht _max-w-1440" role="main">
  {{> "yachts/brazil/cards"}}
</main>

{{> "yachts/brazil/modals"}}
{{> "footer"}}
