{{!< default}}

{{> "headers/yachts/header-moonraker"}}
{{> "yachts/moonraker/panel"}}

<main id="yacht" class="yacht _max-w-1440" role="main">
  {{> "yachts/moonraker/cards"}}
  {{> "yachts/moonraker/modals"}}
</main>
