{{!< default}}

{{> "headers/yachts/header-pida"}}
{{> "yachts/pida/panel"}}

<main id="yacht" class="yacht _max-w-1440" role="main">
  {{> "yachts/pida/cards"}}
</main>

{{> "yachts/pida/modals"}}
{{> "footer"}}
