{{!< default}}

{{> "headers/header-management"}}

<main id="services" class="services" role="main">

    <div class="container">
        <div class="row row-0">
            <div class="col s12 m6">
                <div class="card card--full" href="#">
                    <div class="card-image" style="background-image: url({{asset "images/pages/management/management-1.jpg"}}); min-height: 230px;">
                        <span class="card-title" style="text-shadow: 1px 1px 2px black;">Technical Operations</span>
                    </div>
                    <div class="card-reveal">
                        <div>
                            <div class="card-line"></div>
                            <p>
                                General maintenance. Major refits. Dockyard assistance.
                            </p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="card card--full" href="#">
                    <div class="card-image">
                        <img src="{{asset "images/pages/management/management-2.jpg"}}">
                        <span class="card-title" style="text-shadow: 1px 1px 2px black;">Accounting &amp; Budget Management</span>
                    </div>
                    <div class="card-reveal">
                        <div>
                            <div class="card-line"></div>
                            <p>
                                Record keeping, account overviews and cost control
                            </p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-1">
            <div class="col s12 m6">
                <div class="card card--full" href="#">
                    <div class="card-image" style="background-image: url({{asset "images/pages/management/management-3.png"}}); min-height: 230px;">
                        <span class="card-title" style="text-shadow: 1px 1px 2px black;">Crew Managment</span>
                    </div>
                    <div class="card-reveal">
                        <div>
                            <div class="card-line"></div>
                            <p>
                                Recruitment, contracts, payments, training, and overall support
                            </p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card card--full" href="#">
                    <div class="card-image">
                        <img src="{{asset "images/pages/management/management-4.jpg"}}">
                        <div class="card-overlay"></div>
                        <span class="card-title">Yacht Registration</span>
                    </div>
                    <div class="card-reveal">
                        <div>
                            <div class="card-line"></div>
                            <p>
                                Yacht registry is a necessity. Knowing the advantages of where and how is what we do.
                            </p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>

</main>

{{> footer}}