{{!< default}}

{{> "headers/header-about"}}

<main id="about" class="about" role="main">

    <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title" style="text-align: center;">The MYS Team</span>
              <br />
              <p>
                  MYS is an eclectic mix of individuals that includes yachting industry and financial industry professionals, as well as a former corporate manager and an IT professional. We also have an inhouse accredited accountant.  In short, our team is uniquely qualified to handle all your yachting needs.  Feel free to contact us any time with any questions you might have.
              </p>
              <br />
              <div class="_w-01" style="text-align: center;">
                <h4 style="text-decoration: underline; margin: 0;">Contact Info</h4>
                <a href="mailto:info@mysyachting.com">info@mysyachting.com</a>
                <p style="font-size: 1.6rem; margin: 0; color: #555; line-height: 1.7rem; margin-bottom: 10px;">+385 99 502 3127</p>
                <a class="waves-effect waves-light btn btn--dark" href="#modal-contact" style="margin: 20px 0;">Contact Us</a>
              </div>
          </div>
        </div>
      </div>

</main>

<!-- Modal - contact -->
<div id="modal-contact" class="modal modal--base bottom-sheet">
    {{> "social/contact-form"}}
</div>
</div>

{{> "footer"}}
