<section class="social-links clearfix">
  {{!--<section class="newsletter mob_dis-n">
    {{> "social/newsletter"}}
  </section>--}}
  <div class="social-media">
    {{> "social/social-media"}}
  </div>
    <!-- <section class="copyright">
        <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
    </section> -->
</section>
