<div class="social-media__wrapper">
  <div class="social-media__icon-wrapper">
    <a class="social-media__icon-container" href="https://www.facebook.com/mys.croatia" target="_blank">
        <i class="fa fa-facebook social-media__icon" aria-hidden="true"></i>
    </a>
    <a class="social-media__icon-container" href="https://twitter.com/mys_yachting" target="_blank">
        <i class="fa fa-twitter social-media__icon" aria-hidden="true"></i>
    </a>
    <a class="social-media__icon-container" href="https://www.linkedin.com/in/majaban/recent-activity/" target="_blank">
        <i class="fa fa-linkedin social-media__icon" aria-hidden="true"></i>
    </a>
</div>
