<!-- www.123contactform.com script begins here -->
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col s12">
        <div style="float: right; padding: 10px 20px 0;">
          <i class="fa fa-times modal-close" aria-hidden="true"></i>
        </div>
        <h2 style="padding: 20px; text-align: center;">Croatia Yacht Charter VAT Inquiry</h2>
        <script type="text/javascript" defer src="//www.123contactform.com/embed/2579908.js" data-role="form"></script><!-- www.123contactform.com script ends here -->
      </div>
    </div>
  </div>
</div>

<!-- VAT inquiry Form -->
      {{!--<div class="row">
      <form class="col s12" action="//mysyachting.us7.list-manage.com/subscribe/post?u=435799f3fae195ea711b52239&amp;id=a45972c3c8" method="post" id="yacht-tax-form" name="yacht-tax-form" target="_blank" novalidate>
        <h3>VAT Info Form</h3>
        <h6>Fill out and submit if you'd like us to follow up</h6>
        <div class="card" href="#" style="padding: 30px 20px;">
          <div class="row">
            <div class="col s12">
              <span style="margin-right: 20px;">
                <input class="with-gap" name="yachtType" type="radio" id="my" checked />
                <label for="my">Motor Yacht</label>
              </span>
              <span>
                <input class="with-gap" name="yachtType" type="radio" id="sy" />
                <label for="sy">Sail Yacht</label>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="yacht_name" type="text" class="validate">
              <label for="yacht_name">Yacht Name</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <span style="margin-right: 20px;">
                <input class="with-gap" name="yachtSize" type="radio" id="size1" checked />
                <label for="size1">20 meters or less</label>
              </span>
              <span style="margin-right: 20px;">
                <input class="with-gap" name="yachtSize" type="radio" id="size2" />
                <label for="size2">21 meters - 40 meters</label>
              </span>
              <span>
                <input class="with-gap" name="yachtSize" type="radio" id="size3" />
                <label for="size3">over 40meters</label>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="clear"><input type="submit" value="submit" name="submit" id="yacht-tax-form" class="button"></div>
        </div>
      </form>
    </div>--}}
