@import '../layout/variables';
@import '../layout/mixins';

.modal {
    &.modal--carousel {
        width: 80% !important;
        max-height: 90% !important;
        overflow-y: hidden !important;
    }
}

.modal-bg-color {
    background-color: $main-bg-color;
}