@import '../layout/variables';
@import '../layout/mixins';

nav.main-nav--standard {
    height: auto;
    width: auto;
    line-height: inherit;
    background-color: transparent !important;
    color: inherit;
}

.side-nav {
    li.card--custom {
        padding: 0;
        width: 90%;
        margin: 5px auto;
        background-color: #f7f7f7;
        text-align: center;

        &.active {
            background-color: $color-main;

            a {
                color: $color-white;
            }
        }
    }

    .userView {
        height: 200px;

        .background {
            width: 160px;
            margin: 0 auto;
            margin-top: 20px;

            img {
                width: 100%;
            }
        }
    }
}

.nav__menu-toggle {
    position: absolute;
    top: 40px;
    right: 20px;
    left: auto;
    bottom: auto;
    padding: 3px 8px;
    vertical-align: middle;
    color: #fff;
    z-index: 20;
    border: 1px solid $color-white;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 0px #555;

    &:hover {
        background-color: $color-main;
        color: $color-white;
    }

    @include mobile {
        top: 20px;
        right: 20px;
        left: auto;
        padding: 2px 8px;
    }

    .icon {
        vertical-align: middle;
        margin-top: -1px;
    }

    .nav__menu-button {
        vertical-align: middle;
        font-size: 1em;
        padding-left: 10px;

        @include mobile {
            display: none;
        }
    }
}

.post-template {

    &.page {
        .nav__menu-toggle {
            padding: 0px 8px;
            height: 40px;

            .icon,
            .nav__menu-button {
                margin: 0;
                line-height: 40px;
            }

            .icon {
                margin: 0;
            }
        }

    }
}

.nav-extended {
    background: transparent;
    box-shadow: none;
    margin-left: 10px;
    margin-bottom: 20px;

    .tabs {
        &.tabs-transparent {
            margin: 0 auto;

            @include desktop {
                width: 460px;
            }

            .tab {

                .active {
                    color: $color-main;
                }

                a {
                    color: $color-dark-2;

                    &:hover {
                        color: $color-main;
                        cursor: pointer;
                    }
                }
            }
        }

        .indicator {
            background-color: $color-main;
        }
    }
}