@import '../layout/variables';
@import '../layout/mixins';

/* Create a bouncing scroll-down arrow on homepage with cover image */
.scroll-down {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 45px;
    left: 50%;
    margin-left: -18px;
    width: 34px;
    height: 34px;
    font-size: 34px;
    text-align: center;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-animation: bounce 4s 2s infinite;
    animation: bounce 4s 2s infinite;

    &.scroll-down__footer {
        bottom: 65px;
    }

    &.scroll-down--bottom {
        bottom: 5px;
    }

    /* Stop it bouncing and increase contrast when hovered */
    &:hover {
        color: #fff;
        -webkit-animation: none;
        animation: none;
    }

    @include mobile {
        bottom: 5px;
    }
}
