<div class="row mob_dis-n">
  <div class="col m12 l12">
    <div class="card horizontal small">
      <div class="card-image">
        <img src="{{asset "images/charter/brazil/brazil-card-2.jpg"}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <div class="col m12 l4 card__el-no-padding">
              <div class="card-title card__el-no-padding">
                M/Y Brazil
              </div>
            </div>
            <div class="col m12 l8 card__chip-column card__el-no-padding">
              <h6 class="chip" style="background: #b5a26d; color: white;">Length | 40m</h6>
              <h6 class="chip tab_dis-n" style="background: #b5a26d; color: white;">Cabins | 5</h6>
              <h6 class="chip" style="background: #b5a26d; color: white;">Guests | 10</h6>
              {{!--<h6 class="chip tab_dis-n" style="background: #b5a26d; color: white;">Crew | 8</h6>--}}
            </div>
          </div>
          <p class="tab_dis-n card__text--area">M/Y Brazil info goes here! M/Y Brazil info goes here! M/Y Brazil info goes here! M/Y Brazil info goes here! M/Y Brazil info goes here! M/Y Brazil info goes here!</p>
          <p class="card__text--price"><i><b>Rate: EUR 100,000 - 110,000 p/w + APA</b></i></p>
        </div>
        <div class="card-action card__el-no-padding">
          <div class="row card__row--no-margin card__action-row">
            <div class="col s12 m6 l6 card__el-no-padding">
              <a class="card__link btn-flat waves-effect waves-gold waves-ripple" href="{{@blog.url}}/brazil/">
                <i class="fa fa-info-circle" style="font-size: 1em; vertical-align:  middle; margin-right: 10px;" aria-hidden="true"></i>
                <span style="vertical-align: middle;">Info</span>
              </a>
            </div>
            <div class="col s12 m6 l6 card__el-no-padding">
              <a class="card__link btn-flat waves-effect waves-gold waves-ripple" href="#modal-contact"><i class="fa fa-envelope" style="margin-right: 10px;" aria-hidden="true"></i><span style="vertical-align: middle;">Enquire</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
