<div class="row">
  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-content">
        <h2 class="card-title" style="text-align: center; margin-bottom: 20px;">Find Yachts Exclusively in the Adriatic Sea - Croatia, Montenegro and Italy</h2>
        <p style="text-align: justify;">All the luxury mega yachts on our site have one very important distinguishing feature: they are all located right in our home region - the Adriatic Sea.  They do not have to travel to get here, so no large delivery fees.  And they have crew equipped with local knowledge, ensuring you get the best experience possible.</p>
      </div>
    </div>
  </div>
</div>