<div class="_clfx _w-01 _p _background-alpha" style="margin-top: -10px;">
    <div class="_max-w-1440">
        <div class="_flex _flex-a-c">
            <div class="_v-a-m _flex-item _te-ac _w-01-5 mob_dis-n">
            <div class="_dis-ib _te-ac">
                <h2>2016</h2>
                <h5>Refit</h5>
            </div>
            </div>
            <div class="_v-a-m _flex-item _te-ac _w-01-5">
            <div class="_dis-ib _te-ac">
                <h2>35.10<span style="font-size: 14px">m</span></h2>
                <h5>Length</h5>
            </div>
            </div>
            <div class="_v-a-m _flex-item _te-ac _w-01-5">
            <div class="_dis-ib _te-ac" style="font-size: 32px;">
                <h2 style="font-size: 32px;">12<span style="font-size: 14px;">kts</span></h2>
                <h5>Cruising Speed</h5>
            </div>
            </div>
            <div class="_v-a-m _flex-item _te-ac _w-01-5">
            <div class="_dis-ib _te-ac">
                <h2>10</h2>
                <h5>Guests</h5>
            </div>
            </div>
            <div class="_v-a-m _flex-item _te-ac _w-01-5 mob_dis-n">
                <div class="_dis-ib _te-ac">
                    <h2>6</h2>
                    <h5>Crew</h5>
                </div>
            </div>
        </div>
    </div>
</div>