.font {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.1em;

  &__title {
    font-family: 'Open Sans', sans-serif;
  }

  &__sm {
    font-size: 14px;
  }

  &__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.1em;
  }
}

h1, h3, h5 {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
}

h2, h4, h6 {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Raleway', sans-serif;
}
