@import '../layout/variables';
@import '../layout/mixins';

.events {

    &-header {
        width: 100%;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-dark-main;

        @include mobile {
            height: 90px;
        }
    }

    &-title {
        color: #fff;
        letter-spacing: 0.1rem;

        @include mobile {
            font-size: 1em;
        }
    }

    &-body {
        min-height: calc(100vh - 250px);
    }
}
