@import '../layout/variables';
@import '../layout/mixins';

.services {

    .container {
        @include desktop {
            width: 100%;
        }
    }

    .row {
        @include tablet {
            display: flex;
            align-items: stretch;
        }

        @include desktop {
            display: flex;
            align-items: stretch;
        }
    }

    .card {
        @include tablet {
            height: 100%;
        }

        @include desktop {
            height: 100%;
        }
    }
}

.about {
    .card {

        &-content {
            .card-title {
                margin-bottom: 0;
            }

            .card-subtitle {
                font-size: 0.8em;
                text-align: center;
            }
        }
    }
}