<div class="row card--mobile">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <a href="{{@blog.url}}/pida/">
          <img src="{{asset "images/charter/pida/main-1.jpg"}}">
        </a>
      </div>
      <div class="card-content">
        <div class="card-title">M/Y Pida</div>
        <div class="row">
          <div class="col m12 l8 card__chip-column card__el-no-padding">
            <h6 class="chip" style="background: #b5a26d; color: white;">Length | 30m</h6>
            <h6 class="chip" style="background: #b5a26d; color: white;">Cabins | 5</h6>
            <h6 class="chip" style="background: #b5a26d; color: white;">Guests | 10</h6>
          </div>
        </div>
        <p class="card__text--center"><i><b>Rate: EUR 85,000 - 95,000 p/w + APA</b></i></p>
      </div>
      <div class="card-action card__action-row card__el-no-padding">
        <a class="card__link waves-effect waves-gold btn-flat" href="{{@blog.url}}/pida/">Info</a>
        <a class="card__link waves-effect waves-gold btn-flat" href="#modal-contact">Enquire</a>
      </div>
    </div>
  </div>
</div>
